<!DOCTYPE html>
<html lang="en">
{% load static %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href={% static "/bootstrap-5.0.2-dist/css/bootstrap.min.css" %}>
<!-- Latest compiled and minified JavaScript -->
<script src={% static "/bootstrap-5.0.2-dist/js/bootstrap.min.js" %}></script>

<html>
<head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
    <title>Backend Challenge</title>
</head>
<body>
    <div style="padding-top:1rem;">
        <nav class="left" style="padding-left:3rem">
            <a class="left_nav_item" href="{% url 'backend_challenge:index' %}">Index</a>
        </nav>
    </div>

    <div class="container">
        {% block body_block %}
        <!-- Anything outside of this will be inherited if you extend -->
        {% endblock %}
    </div>

</body>
</html>